@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/
h2 {
  font-family:AvenirNext-DemiBold
}
.site {
  flex-direction:row;
  align-items:stretch;
  height: 100%;
}
.site__main {
  flex-grow:7;
  flex-basis:0;
  align-self:stretch;

  /*其中的子元素 左右布局*/
  flex-direction:row;
  align-items:stretch;
  height: 100%;
}
.site__right-sidebar {
  flex-grow:3;
  flex-basis:0;
  align-self:stretch;

  /*其中的子元素 上下布局*/
  flex-direction:column;

  background-color:#c4ccda;
}



.site__left-sidebar{
  position: fixed;/*固定侧边栏，去掉滚动条*/
  flex-basis:auto;
  flex-grow:0;
  /*background-color: rgba(255,0,0,0.3);*/
  
  /*固定宽度，不会自动换行
  1. 有指定宽高用指定值  
  2. 是否可以计算出隐形的指定值 （
    比如 left 和 right 都有，就可以计算出 width）
  3. 都没有的话容器应该适应 content （避免断行）
  4. 考虑 max-width/max-height/min-width/min-height 的设定
  */
  width:170px;
  height: 100%;
  padding:50px 20px 0 20px;
}

.site__content{
  flex-basis:0;
  flex-grow:1;

  margin-left: 170px;/*通过增加 margin 来保留侧边栏的位置*/
}
.cart{
  flex-basis:0;
  flex-grow:1;
  /*background-color: rgba(255,0,0,0.3);*/


  overflow:scroll;

  /*预留购物车标题高度*/
  padding-top: 33px;
}
.checkout{
  flex-basis:auto;
  flex-grow:0;
  /*background-color: rgba(0,255,0,0.3);*/

  flex-direction:column;
  align-items:center;
}

.products{
  flex-direction:row;
  flex-wrap:wrap;
}
.product {
  width: 50%;
  padding: 1%;
}
.product__display{
  flex-direction:column;
  align-items:center;
  border: 5px solid #d8d8d8;
}
.product__img {
  width: 100%;
}
.product__add {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #d8d8d8;

  justify-content:center;
  align-items:center;
}
.product__add__icon {
  width: 36px;
  height: 36px;
}
.product__price{
  position:absolute;
  top:20px;
  right:20px;
  font-size: 22px;
  font-weight: bold;

}
.cart-item {
  flex-direction:column;
  padding: 20px 30px;
  /*background: rgba(0,255,0,0.3);*/
}

.checkout {
  /*background: rgba(0,0,255,0.3);*/
  justify-content:flex-start;
}

.cart__title{
  position: fixed;/*固定购物车标题*/
  top: 0px;
  font-size: 24px;
  color: #202020;
  font-family:AvenirNext-UltraLight;
}
.product__description{
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.product__name{
  flex-grow:1;
  flex-basis:0;
}
.product__heart {
  flex-grow:0;
  flex-basis:auto;
}

.cart-item__top-part{
  flex-direction:row;
}
.cart-item__image{
  flex-grow:1;
  flex-basis: 33%;
}

.cart-item__image img {
  width: 100%;
}

.cart-item__top-part__middle{
  flex-grow:1;
  flex-basis:50%;

  margin-left: 30px;

  flex-direction:column;
}
.cart-item__trash {
  flex-grow:0;
  flex-basis:auto;
}
.cart-item__qty {
  width:33%;
}
.adjust-qty{
  flex-direction:row;
  justify-content:space-between;
  text-align: center;

  padding: 10px 10px;
}
.adjust-qty__button{
  width: 20px;
  height: 20px;
  border-radius:10px;
  background-color:white;
}
.cart-item__price{
  /*font-weight: bold;*/
  font-family: AvenirNext-DemiBold;
}

.checkout__divider{
  width: 70%;
}
.checkout__coupon-input{
  width: 90%;
}
.checkout__amount{
  flex-direction:column;
  justify-content:space-between;
  align-items:stretch;
  padding: 10px 20px;

  color:#202020;
  font-family: AvenirNext-Regular;
  align-self:stretch;
}

.checkout__price{
  flex-direction:row;
  justify-content:space-between;
  align-items:stretch;

  margin: 5% 0;
}
.checkout__price--strikeout{
  text-decoration:line-through;
}
.checkout__price--saving{
  align-self:flex-end;
  color: red;
  font-weight: bold;
}
.checkout__button {
  flex-direction:row;
  width: 70%;
  height: 60px;
  margin-bottom: 20px;
  align-items:center;
  justify-content:space-space;

  background-color: #80A590;
  border-radius:5px;
  /*height: 80%;*/
}
.checkout__button--cartimg {
  flex-basis:1;
  flex-grow:1;
}
.checkout__button--input{
  flex-basis:2;
  flex-grow:1;

}

@media (max-width:950px){
  .site__main {
    flex-grow:6;
  }
  .site__right-sidebar {
    flex-grow:4;
  }
  .product{
    width:100%;
  }
}
/*移动端布局*/
@media (max-width:650px){
  .site__left-sidebar{
    display: none;
    }
  .site__main {
    width:100%;
  }
  .site__content{
    margin-left: 0px;
  }
  .site__right-sidebar {
    width:80%;
    position: fixed;
    right: 0;
    height: 100%;
    opacity:0.3;
  }

}